#app > .container:first-of-type {
  padding-top: 70px;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity 0.3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.fifth {
  width: 20%;
  white-space: nowrap;
  text-align: center;
}
.quarter {
  width: 25%;
  white-space: nowrap;
  text-align: center;
}